.radial_bg {
  background-image: linear-gradient(
    hsl(var(--primary-light)) 0%,
    hsl(var(--primary)) 33%,
    hsl(var(--primary-dark)) 67%,
    hsl(var(--primary-darkest)) 100%
  );

  animation-duration: 5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
