.radial_bg {
  background-image: linear-gradient(
    var(--primary-rgb-light) 0%,
    var(--primary-rgb) 33%,
    var(--primary-rgb-dark) 67%,
    var(--primary-rgb-darkest) 100%
  );

  animation-duration: 5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
