@tailwind base;
@tailwind components;
@tailwind utilities;

/* for light mode */
:root {
  --primary-rgb-light: #75dcd0;
  --primary-rgb: #57c5b6;
  --primary-rgb-dark: #159895;
  --primary-rgb-darkest: #117674;
  --secondary-rgb: #8ea7e9;
  --secondary-rgb-dark: #7286d3;

  --foreground-rgb: #2e3840; /* text color */
  --background-rgb: #f5f5f5; /* bg color */
}

/* for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: #57c5b6;
    --primary-rgb-dark: #159895;
    --secondary-rgb: #8ea7e9;
    --secondary-rgb-dark: #7286d3;

    --foreground-rgb: #f5f5f5;
    --background-rgb: #2e3840;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
